**/node_modules

packages/contracts/build/
packages/contracts/asneardev/

packages/components/dist/
packages/components/storybook-static/


packages/hooks/dist/

packages/commands/build/release

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.idea